# виртуальные среды
1/env1/
1/env1/
2/env/
env1/
env2/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# данные/большие файлы
bottle.csv
data/
*.zip
*.tar.gz

# IDE
.vscode/
.idea/
